:root{
--bgbody: #222;
--txtcolor: #fff;
--titlecolor:#ccffcc; 
--linkcolor:#ccccff;
--fonttxt: "verdana";
--fonttitle:"tahoma";
}
body{
    margin: 0px;
    padding: 0px;
    background-color: #222;
    color: var(--txtcolor);
}

h1 {
font-family: var(--fonttitle);
text-align: center;
color: var(--titlecolor);
/* width: 30%;
margin-left: auto;
margin-right: auto; */
}
h2{

color: var(--titlecolor);
font-family: var(--fonttxt);
text-transform: uppercase;
text-align: center;
}

.journal h2 {
font-family: var(--fonttitle);
color: var(--titlecolor);
height: 50px;
border:1px dashed var(--titlecolor) ;

}
#logo {
width: 100px;
height: auto;
margin: 0px 20px 20px 0px ;
border: 1px solid wheat;

}
/* li{ display: inline; */

li {display: inline-block;
width: 200px;
margin:0px 5px;
padding: 5px;
border: 1px solid var(--titlecolor);}



a:link {
    color:var(--titlecolor);
}
a:visited {
    color: var(--titlecolor);
}

#airbus img {
    width: 230px;
    height: 150px;
    margin:5px;
    border-radius: 12px;
}
#airbus {
  width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction:row-reverse;
    justify-content:space-around;
    align-items:center;
    flex-wrap: wrap;
}