:root{
    --bgbody: #222;
    --txtcolor: #fff;
    --titlecolor:#ccffcc; 
    --linkcolor:#ccccff;
    --fonttxt: "verdana";
    --fonttitle:"tahoma";
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #222;
    color: var(--txtcolor);
}

/* STYLES GENERIQUES */

h1 {
    font-family: var(--fonttitle);
    text-align: center;
    color: var(--titlecolor);
}

h2{
    color: var(--titlecolor);
    font-family: var(--fonttxt);
    text-transform: uppercase;
    text-align: center;
}


a:link {
    color:var(--titlecolor);
}

a:visited {
    color: var(--titlecolor);
}

.text-center {
    text-align: center;
}

/* ENTETE ET LOGO */

#logo {
    width: 100px;
    height: auto;
    margin: 0px 20px 20px 0px ;
    border: 1px solid wheat;

}

/* MENU PRINCIPAL */

#menu li {
    display:inline-block;
    width: 200px;
    margin: 5px 5px;
    padding: 5px;
    border:1px solid var(--titlecolor);
}



/* ACTUALITES */ 

.journal h2 {
    font-family: var(--fonttitle);
    color: var(--titlecolor);
    padding-bottom: 10px;
    border:1px dashed var(--titlecolor) ;
}

.le-style-de-franck {
    text-align: justify; 
    padding :30px; 
    border:2px solid #0000ff;  
    width:50%;
    margin:auto
}

/* GALLERIES D'IMAGES */

.gallerie {
    border: 2px solid lightgray;
    border-radius: 12px;
    padding: 7px 10px 10px 10px;
    width: 60%;
    margin: 30px auto;  
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap:wrap;
    gap: 10px;
}

.gallerie h3 {
    width: 100%;
    margin: 0;
    margin-top: -23px;
    margin-bottom: -7px;
    padding-left: 3px;
    font-weight: normal;
    font-size: 16px;
}

.gallerie h3 span {
    background-color: #222;
    padding: 0 5px;
}

.gallerie img
{
    width: 230px;
    height: 200px;
    border-radius: 12px;
}
